<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>About | Organic</title>
    <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-achoo.css">
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="info-bar">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="" class="social"><i class="fab fa-twitter"></i></a>
                        <a href="" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="" class="social"><i class="fab fa-pinterest-p"></i></a>
                        <a href="" class="social"><i class="fab fa-youtube"></i></a>
                        <p class="info-head" style="display: inline">Phone: <span>(+91) 123456789</span></p>
                        <p class="info-head" style="display: inline">Email: <span>inquiry@nognic.com</span></p>
                    </div>
                    <div class="col-lg-6 combobox">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                <i class="far fa-user"></i> My Account
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo">
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="my-account.html">MY ACCOUNT</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="Wish-list.html">WISHLIST</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="checkout.html">CHECKOUT</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="blog.html">BLOG</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="my-account.html">LOGIN</a>
                                <div class="myaccount-line-achoo border-info"></div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle unit" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                $ USD
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item unit-item" href="#">$ USD</a>
                                <a class="dropdown-item unit-item" href="#">đ VND</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle language" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                <img src="img/fr.png" alt=""> FRENCH
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item language-item" href="#"><img src="img/fr.png" alt=""> FRENCH</a>
                                <a class="dropdown-item language-item" href="#"><img src="img/vn.png" alt=""> VIETNAMESE</a>
                                <a class="dropdown-item language-item" href="#"><img src="img/uk.png" alt=""> ENGLISH</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 icon">
                        <a href=""><img src="img/circle-heart.png" alt=""></a>
                    </div>
                    <div class="col-md-4 col-sm-5 logo-box">
                        <a href="home.html"><img src="img/logo.png" class="logo" alt=""></a>
                    </div>
                    <div class="col-md-4 col-sm-4 icon">
                        <div class="dropdown cart-bg-achoo">
                        <a href="" data-toggle="dropdown" data-target="#"><img src="img/circle-bag.png" align="right" alt=""></a>
                        <div class="dropdown-menu cart-form-achoo">
                            <p class="cart-title-achoo">2 items in your cart</p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="./img-achoo/Strawberries.jpg" alt="" class="cart-img-achoo">
                                </div>
                                <div class="col-lg-6">
                                    <p class="cart-title-product-achoo">Strawberries, 16 oz</p>
                                    <p class="cart-title-price-achoo">1 x $2.50</p>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="nav-link text-secondary cart-delete-achoo">X</a>
                                </div>
                            </div>
                            <div class="my-account-form-space-achoo">
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="./img-achoo/Broccoli.jpg" alt="" class="cart-img-achoo">
                                </div>
                                <div class="col-lg-6">
                                    <p class="cart-title-product-achoo">Broccoli, bunch</p>
                                    <p class="cart-title-price-achoo">2 x $4.00</p>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="nav-link text-secondary cart-delete-achoo">X</a>
                                </div>
                            </div>  
                            <div class="my-account-form-space-achoo">
                            </div>
                            <div class="cart-line-achoo">
                            </div>                       
                            <div class="row">
                                <p class="cart-total-achoo">Total: $6.50</p>
                            </div>  
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="Add-to-cart.html" class="text-dark form-control btn-outline-secondary" id="viewcart">VIEW CART</a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="checkout.html" class="text-light form-control btn-success" id="CHECKOUT">CHECKOUT</a>
                                </div>
                            </div>                             
                        </div>
                    
                        <a href=""><img src="img/circle-search.png" align="right" alt=""></a>
                    </div>
                    </div>
             
                </div>
            </div>
            <nav class="navbar navbar-expand-xl navbar-dark container menu">
                <button class="navbar-toggler" id="btn-collapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContentXL">
                    <ul class="navbar-nav">
                        <!--MEGAMENU-->
                        <li class="nav-item position-static parent"><img src="img/leaf.png" class="child leaf-achoo" alt=""><a href="#" data-toggle="dropdown" data-target="#">Home</a>
                        <!-- div.w-100 make it mega menu, div.top-auto opens the mega menu exactly as position like other normal menu -->
                        <div class="dropdown-menu background-megamenu-achoo w-100">
                            <div class="container">
                                <!-- div.w-100 is also needed in certain circumstances to make this menu a mega menu -->
                                <div class="row w-100">
                                    <!-- It's yours now. Add columns or change layout as per your wish -->
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Regular Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Banana</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Chikoo</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Tender Coconut</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pineapple</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Seasonal Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Mango</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Orange</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Strawberries</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Grapes</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Exotics Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Avocado</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Guava Thai</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Mangosteen</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Grapefruit</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Imported Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                </div>
                                <div class="row w-100">
                                    <!-- It's yours now. Add columns or change layout as per your wish -->
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Citrus Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Oranges</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Lemons</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Tangerines</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Lime</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Dry Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Dates</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apricots</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Figs</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Raisins</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Exotics Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Imported Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        </li>
                        <!--KET THUC MEGAMENU-->
                        <li class="nav-item"><a href="product.html">Products</a></li>
                        <li class="nav-item"><a href="about.html">About Us</a></li>
                        <li class="nav-item"><a href="blog.html">Blog</a></li>
                        <li class="nav-item"><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container-fluid my-head-bg">
            </div>
            <div class="container">
                <div class="basic-info">
                    <div class="row">
                        <div class="col-sm-12 contact-title">
                            <span><a href="">Home | </a>About Us</span>
                            <p>About Us</p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 100px;margin-bottom: 100px;">
                        <div class="col-md-6">
                            <div class="about-img">
                                <img src="img/about-fruit.png" id="square" alt="">
                                <img src="img/about-rectangle.png" id="rectangle" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="about-title">WHO <span>WE ARE</span></p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing <br><br>

                            t has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing <br><br>

                            <b><i>Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets...</i></b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid about-center">
                <div class="container">
                    <div class="row" style="margin-top: 100px;margin-bottom: 280px">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="about-number">01</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="title-about-center">HAND PLANTED</p>
                                    <p class="content-about">Blandit justo et, sodales est. Phasellus dignissim libero tempus consequat gravida. Maecenas vel fringilla est.</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="about-number">02</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="title-about-center">HAND PLANTED</p>
                                    <p class="content-about">Blandit justo et, sodales est. Phasellus dignissim libero tempus consequat gravida. Maecenas vel fringilla est.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 about-circle-center">
                            <img src="img/circle-about.png" alt="">
                            <div class="over-25-years">
                                <p class="over-years">OVER</p>
                                <p class="text25">25</p>
                                <p class="over-years">YEARS</p>
                                <hr>
                                <p style="color: #98be86 ;margin: 0 auto; font-family: Montserrat ExtraBold; font-size: 18px; text-align: center">IN THE FARMING INDUSTRY</p>
                                <hr>
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="about-number">01</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="title-about-center">HAND PLANTED</p>
                                    <p class="content-about">Blandit justo et, sodales est. Phasellus dignissim libero tempus consequat gravida. Maecenas vel fringilla est.</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="about-number">02</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="title-about-center">HAND PLANTED</p>
                                    <p class="content-about">Blandit justo et, sodales est. Phasellus dignissim libero tempus consequat gravida. Maecenas vel fringilla est.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5" style="margin-bottom: 150px;">
                        <p class="frente-100" style="color:#549642">WHY <span style="color:#5a4a3b">CHOOSE US</span></p>
                        <p class="montserrat-14" style="color:#76716d">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="progress-about">
                            <p style="font-size: 18px; color:#655648; margin-bottom: 0px">EXPERTESE</p>
                            <div class="range1">
                                <input type="range" min="1" max="100" value="65" class="range" id="range1">
                            </div>
                            <p style="font-size: 18px; color:#655648; margin-bottom: 0px">EXPERTESE</p>
                            <div class="range2">
                                <input type="range" min="1" max="100" value="85" class="range" id="range1">
                            </div>
                            <p style="font-size: 18px; color:#655648; margin-bottom: 0px">EXPERTESE</p>
                             <div class="range3">
                                <input type="range" min="1" max="100" value="50" class="range" id="range1">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <img src="img/about-2-fruit.png" width="100%" alt="">
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="background: #827161; padding: 1px 0px;">
                <div class="container">
                    <div class="arrival-title" style="margin-top: 100px;margin-bottom: 100px">
                        <img src="img/3leaf.png" alt=""><br>
                        <p style="color: #fff">OUR FARMERS</p>
                    </div>
                    <div class="slide-farmer">
                        <div class="farmer-item">
                            <img src="img/farmer-border.png" class="farmer-border" alt="">
                            <img src="img/farmer-img.png" class="farmer-img" alt="">
                            <div class="farmer-info">
                                <p style="color:#fff; font-weight: bold; line-height: 15px; margin-top:15px; font-size: 36px; text-align: center;">PAUL MNAKEN</p>
                                <p style="font-size: 18px;color: #fff; text-align: center">Farm manager</p>
                                <div class="farmer-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="farmer-item">
                            <img src="img/farmer-border.png" class="farmer-border" alt="">
                            <img src="img/farmer-img.png" class="farmer-img" alt="">
                            <div class="farmer-info">
                                <p style="color:#fff; font-weight: bold; line-height: 15px; margin-top:15px; font-size: 36px; text-align: center;">PAUL MNAKEN</p>
                                <p style="font-size: 18px;color: #fff; text-align: center">Farm manager</p>
                                <div class="farmer-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="farmer-item">
                            <img src="img/farmer-border.png" class="farmer-border" alt="">
                            <img src="img/farmer-img.png" class="farmer-img" alt="">
                            <div class="farmer-info">
                                <p style="color:#fff; font-weight: bold; line-height: 15px; margin-top:15px; font-size: 36px; text-align: center;">PAUL MNAKEN</p>
                                <p style="font-size: 18px;color: #fff; text-align: center">Farm manager</p>
                                <div class="farmer-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="farmer-item">
                            <img src="img/farmer-border.png" class="farmer-border" alt="">
                            <img src="img/farmer-img.png" class="farmer-img" alt="">
                            <div class="farmer-info">
                                <p style="color:#fff; font-weight: bold; line-height: 15px; margin-top:15px; font-size: 36px; text-align: center;">PAUL MNAKEN</p>
                                <p style="font-size: 18px;color: #fff; text-align: center">Farm manager</p>
                                <div class="farmer-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="farmer-item">
                            <img src="img/farmer-border.png" class="farmer-border" alt="">
                            <img src="img/farmer-img.png" class="farmer-img" alt="">
                            <div class="farmer-info">
                                <p style="color:#fff; font-weight: bold; line-height: 15px; margin-top:15px; font-size: 36px; text-align: center;">PAUL MNAKEN</p>
                                <p style="font-size: 18px;color: #fff; text-align: center">Farm manager</p>
                                <div class="farmer-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="farmer-item">
                            <img src="img/farmer-border.png" class="farmer-border" alt="">
                            <img src="img/farmer-img.png" class="farmer-img" alt="">
                            <div class="farmer-info">
                                <p style="color:#fff; font-weight: bold; line-height: 15px; margin-top:15px; font-size: 36px; text-align: center;">PAUL MNAKEN</p>
                                <p style="font-size: 18px;color: #fff; text-align: center">Farm manager</p>
                                <div class="farmer-social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="brand">
                <div class="container">
                    <div class="slide-brand">
                        <div class="slide-brand-item"><img src="img/themeforest.png" alt=""></div>
                        <div class="slide-brand-item"><img src="img/envato.png" alt=""></div>
                        <div class="slide-brand-item"><img src="img/codecanyon.png" alt=""></div>
                        <div class="slide-brand-item"><img src="img/audiojungle.png" alt=""></div>
                        <div class="slide-brand-item"><img src="img/3docean.png" alt=""></div>
                        <div class="slide-brand-item"><img src="img/themeforest.png" alt=""></div>
                        <div class="slide-brand-item"><img src="img/envato.png" alt=""></div>
                        <div class="slide-brand-item"><img src="img/codecanyon.png" alt=""></div>
                    </div>
                </div>
             </div>
        </main>
        <footer>
            <div class="container footer-title">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="row ">
                            <div class="col-xl-3">
                                <img src="img/truck.png" alt="">
                            </div>
                            <div class="col-xl-9">
                                <h2>FREE SHIPPING</h2>
                                <p>WORLDWIDE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="row ">
                            <div class="col-xl-3">
                                <img src="img/headphone.png" alt="">
                            </div>
                            <div class="col-xl-9">
                                <h2>24X7</h2>
                                <p>CUSTOMER SUPPORT</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="row ">
                            <div class="col-xl-3">
                                <img src="img/return.png" alt="">
                            </div>
                            <div class="col-xl-9">
                                <h2>RETURNS</h2>
                                <p>AND EXCHANGE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="row ">
                            <div class="col-xl-3">
                                <img src="img/phone.png" alt="">
                            </div>
                            <div class="col-xl-9">
                                <h2>HOTLINE</h2>
                                <p>+(888) 888-8888</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container footer-content">
                <div class="row">
                    <div class="col-xl-3 info">
                        <img src="img/logo1.png" alt="">
                        <div class="row" style="margin-top:45px; ">
                            <div class="col-xl-1">
                                <img src="img/location.png" alt="">
                            </div>
                            <div class="col-xl-10">
                                <p>Lorem ipsum is dummy text of the printing typesetting</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-1">
                                <img src="img/phone1.png" alt="">
                            </div>
                            <div class="col-xl-8">
                                <p>+(91) 123456789</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-1">
                                <img src="img/mail.png" alt="">
                            </div>
                            <div class="col-xl-8">
                                <p>inquiry@nognic.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 center-link">
                        <h3>INFOMATION</h3>
                        <ul>
                            <li><a href="404-page.html">Site Map</a></li>
                            <li><a href="404-page.html">Search Terms</a></li>
                            <li><a href="404-page.html">Advanced Search</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="404-page.html">Suppliers</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 center-link">
                        <h3>STYLE ADVISOR</h3>
                        <ul>
                            <li><a href="my-account.html">Your Account</a></li>
                            <li><a href="404-page.html">Infomation</a></li>
                            <li><a href="404-page.html">Addresses</a></li>
                            <li><a href="404-page.html">Discount</a></li>
                            <li><a href="404-page.html">Orders History</a></li>
                            <li><a href="404-page.html">Additional Infomation</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 center-link">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="FAQ.html">FAQs</a></li>
                            <li><a href="404-page.html">Payment</a></li>
                            <li><a href="404-page.html">Shipment</a></li>
                            <li><a href="404-page.html">Where is my order?</a></li>
                            <li><a href="404-page.html">Return policy</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 center-link">
                        <h3>INSTAGRAM</h3>
                        <div class="row">
                            <div class="col-xl-4">
                                <img src="img/square.png" alt="">
                                <img src="img/square.png" alt="">
                                <img src="img/square.png" alt="">
                            </div>
                            <div class="col-xl-6">
                                <img src="img/square.png" alt="">
                                <img src="img/square.png" alt="">
                                <img src="img/square.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="last-bar">
                    <div class="row">
                        <div class="col-xl-4 copyright">
                            <p>&#169 NOGNIC <span>2019 All rights Reserved</span></p>
                            <p>Website designed & Developed by <span>NCode Technologies, Inc.</span></p>
                        </div>
                        <div class="col-xl-4 social-end">
                            <a href="" class="social-end-link"><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="social-end-link"><i class="fab fa-twitter"></i></a>
                            <a href="" class="social-end-link"><i class="fab fa-google-plus-g"></i></a>
                            <a href="" class="social-end-link"><i class="fab fa-pinterest-p"></i></a>
                            <a href="" class="social-end-link"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="col-xl-4 payment" align="right">
                            <a href=""><img src="img/PayPal.png" alt=""></a>
                            <a href=""><img src="img/VISA.png" alt=""></a>
                            <a href=""><img src="img/AMERICAN-EXPRESS.png" alt=""></a>
                            <a href=""><img src="img/MasterCard.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/style.js"></script>
    <script>
        $(function() {
            $('.slide-farmer').slick({
            arrows: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [{
                     breakpoint: 1200,
                    settings: {
                        slidesToShow: 2,
                        arrows: false,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 1,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });
            $('.slide-brand').slick({
            arrows: true,
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 5,
            responsive: [{
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 5,
                        infinite: true
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        arrows: false,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });
        });
    </script>
</body>

</html>