<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Add to cart | Organic</title>
    <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-achoo.css">
</head>

<body>
  <!--HEADER-->
  <header>
            <div class="info-bar">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="" class="social"><i class="fab fa-twitter"></i></a>
                        <a href="" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="" class="social"><i class="fab fa-pinterest-p"></i></a>
                        <a href="" class="social"><i class="fab fa-youtube"></i></a>
                        <p class="info-head" style="display: inline">Phone: <span>(+91) 123456789</span></p>
                        <p class="info-head" style="display: inline">Email: <span>inquiry@nognic.com</span></p>
                    </div>
                    <div class="col-lg-6 combobox">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                <i class="far fa-user"></i> My Account
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo">
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="my-account.html">MY ACCOUNT</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="Wish-list.html">WISHLIST</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="checkout.html">CHECKOUT</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="blog.html">BLOG</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="my-account.html">LOGIN</a>
                                <div class="myaccount-line-achoo border-info"></div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle unit" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                $ USD
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item unit-item" href="#">$ USD</a>
                                <a class="dropdown-item unit-item" href="#">đ VND</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle language" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                <img src="img/fr.png" alt=""> FRENCH
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item language-item" href="#"><img src="img/fr.png" alt=""> FRENCH</a>
                                <a class="dropdown-item language-item" href="#"><img src="img/vn.png" alt=""> VIETNAMESE</a>
                                <a class="dropdown-item language-item" href="#"><img src="img/uk.png" alt=""> ENGLISH</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 icon">
                        <a href=""><img src="img/circle-heart.png" alt=""></a>
                    </div>
                    <div class="col-md-4 col-sm-5 logo-box">
                        <a href="home.html"><img src="img/logo.png" class="logo" alt=""></a>
                    </div>
                    <div class="col-md-4 col-sm-4 icon">
                        <div class="dropdown cart-bg-achoo">
                        <a href="" data-toggle="dropdown" data-target="#"><img src="img/circle-bag.png" align="right" alt=""></a>
                        <div class="dropdown-menu cart-form-achoo">
                            <p class="cart-title-achoo">2 items in your cart</p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="./img-achoo/Strawberries.jpg" alt="" class="cart-img-achoo">
                                </div>
                                <div class="col-lg-6">
                                    <p class="cart-title-product-achoo">Strawberries, 16 oz</p>
                                    <p class="cart-title-price-achoo">1 x $2.50</p>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="nav-link text-secondary cart-delete-achoo">X</a>
                                </div>
                            </div>
                            <div class="my-account-form-space-achoo">
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="./img-achoo/Broccoli.jpg" alt="" class="cart-img-achoo">
                                </div>
                                <div class="col-lg-6">
                                    <p class="cart-title-product-achoo">Broccoli, bunch</p>
                                    <p class="cart-title-price-achoo">2 x $4.00</p>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="nav-link text-secondary cart-delete-achoo">X</a>
                                </div>
                            </div>  
                            <div class="my-account-form-space-achoo">
                            </div>
                            <div class="cart-line-achoo">
                            </div>                       
                            <div class="row">
                                <p class="cart-total-achoo">Total: $6.50</p>
                            </div>  
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="Add-to-cart.html" class="text-dark form-control btn-outline-secondary" id="viewcart">VIEW CART</a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="checkout.html" class="text-light form-control btn-success" id="CHECKOUT">CHECKOUT</a>
                                </div>
                            </div>                             
                        </div>
                    
                        <a href=""><img src="img/circle-search.png" align="right" alt=""></a>
                    </div>
                    </div>
             
                </div>
            </div>
            <nav class="navbar navbar-expand-xl navbar-dark container menu">
                <button class="navbar-toggler" id="btn-collapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContentXL">
                    <ul class="navbar-nav">
                        <!--MEGAMENU-->
                        <li class="nav-item position-static parent"><img src="img/leaf.png" class="child leaf-achoo" alt=""><a href="#" data-toggle="dropdown" data-target="#">Home</a>
                        <!-- div.w-100 make it mega menu, div.top-auto opens the mega menu exactly as position like other normal menu -->
                        <div class="dropdown-menu background-megamenu-achoo w-100">
                            <div class="container">
                                <!-- div.w-100 is also needed in certain circumstances to make this menu a mega menu -->
                                <div class="row w-100">
                                    <!-- It's yours now. Add columns or change layout as per your wish -->
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Regular Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Banana</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Chikoo</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Tender Coconut</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pineapple</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Seasonal Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Mango</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Orange</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Strawberries</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Grapes</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Exotics Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Avocado</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Guava Thai</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Mangosteen</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Grapefruit</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Imported Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                </div>
                                <div class="row w-100">
                                    <!-- It's yours now. Add columns or change layout as per your wish -->
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Citrus Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Oranges</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Lemons</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Tangerines</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Lime</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Dry Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Dates</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apricots</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Figs</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Raisins</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Exotics Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Imported Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        </li>
                        <!--KET THUC MEGAMENU-->
                        <li class="nav-item"><a href="product.html">Products</a></li>
                        <li class="nav-item"><a href="about.html">About Us</a></li>
                        <li class="nav-item"><a href="blog.html">Blog</a></li>
                        <li class="nav-item"><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </header>
  <!--KET THUC HEADER-->
  <!--MAIN-->
  <main>
    <div class="header-content-achoo">
    </div>
    <div class="container">
      <nav class="navbar navbar-expand-sm no-padding">
        <div class="navbar-content-achoo">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link navbar-font-achoo" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <span class="nav-link navbar-font-achoo">|</span>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light navbar-font-active-achoo" href="#">Checkout</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light navbar-font-title-achoo" href="#">Checkout</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--NOI DUNG CHINH-->
      <!--THEM KHOANG TRANG-->
      <div class="my-account-form-space-achoo">
      </div>
      <div class="my-account-form-space-achoo">
      </div>
      <div class="my-account-form-space-achoo">
      </div>
      <!--KET THUC-->
      <div class="row add-to-cart-table-padding-achoo">
        <div class="col-12">
          <!--BANG CHI TIET SAN PHAM-->
          <table class="table add-to-cart-table-border-achoo">
            <thead class="bg-light add-to-cart-table-font-row-achoo">
              <tr>
                <th scope="col">PRODUCT</th>
                <th scope="col">Name & Description</th>
                <th scope="col">PRICE</th>
                <th scope="col">QUANTITY</th>
                <th scope="col" colspan="2">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr class="add-to-cart-table-font-row-achoo" id="row1">
                <th><img src="./img-achoo/Strawberries.jpg" alt="" class="add-to-cart-img-products-achoo"></th>
                <td class="align-middle">Strawberries, 16 oz</td>
                <td class="align-middle">$<span id="giarow1">2.50</span> / ea </td>
                <td class="align-middle">
                  <div class="form-group add-to-cart-table-quantity-achoo">
                    <select class="form-control" id="chonsoluongrow1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </td>
                <td class="align-middle">$<span id="totalrow1">2.50</span> </td>
                <td class="align-middle"><a href="javascript:void(0)" class="nav-link text-secondary" id="deleteCart1">x</a></td>
              </tr>
              <tr class="add-to-cart-table-font-row-achoo" id="row2">
                <th><img src="./img-achoo/Broccoli.jpg" alt="" class="add-to-cart-img-products-achoo"></th>
                <td class="align-middle">Broccoli, bunch</td>
                <td class="align-middle">$<span id="giarow2">4.00</span> /bunch </td>
                <td class="align-middle">
                  <div class="form-group add-to-cart-table-quantity-achoo">
                    <select class="form-control" id="chonsoluongrow2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </td>
                <td class="align-middle">$<span id="totalrow2">4.00</span></td>
                <td class="align-middle"><a href="javascript:void(0)" class="nav-link text-secondary" id="deleteCart2">x</a></td>
              </tr>
              <tr class="add-to-cart-table-font-row-achoo">
                <th class="align-middle"><button type="button"
                    class="btn btn-outline-success add-to-cart-table-btn-next-achoo" onclick="location.href = 'product.html';">Continue with Shopping</button>
                </th>
                <td class="align-middle text-right" colspan="5">
                  <a href="javascript:void(0)" id="clearCart"><img src="img-achoo/clear-cart-btn.png" alt="Clear cart"></a>
                  <a href="javascript:void(0)" id="updateCart"><img src="img-achoo/update-cart-btn.png" alt="Update cart"></a></td>
              </tr>
              <tr class="add-to-cart-table-font-row-achoo add-to-cart-table-coupon-font-achoo">
                <th class="align-middle" colspan="6">
                  <ul class="nav justify-content-center justify-items-center nav-fill">
                    <li class="nav-item add-to-cart-table-coupon-col-1-achoo">
                      Coupon Code
                    </li>
                    <li class="nav-item add-to-cart-table-coupon-col-2-achoo">
                      <input type="number" class="form-control add-to-cart-table-coupon-input-achoo" id="couponcode"  placeholder="Enter the percentage you want to discount">
                    </li>
                    <li class="nav-item add-to-cart-table-coupon-col-3-achoo">
                      <a href="javascript:void(0)" id="applycouponcode"><img src="img-achoo/apply-now-btn.png" alt="Apply now" class="w-100"></a>
                    </li>
                  </ul>
                </th>
              </tr>
            </tbody>
          </table>
          <!--KET THUC BANG CHI TIET SAN PHAM-->
        </div>
      </div>
      <div class="row add-to-cart-table-padding-achoo">
        <div class="col-7">
          <!--BANG THONG TIN SHIP-->
          <div class="my-account-form-space-achoo">
          </div>
          <table class="table add-to-cart-table-border-achoo">
            <thead class="add-to-cart-table2-font-header-achoo">
              <tr>
                <th scope="col">Estimate Shipping and Tax</th>
              </tr>
            </thead>
            <tbody>
              <tr class="add-to-cart-table-font-row-achoo">
                <td>
                  <div>
                    <div class="my-account-form-space-achoo">
                    </div>
                    <p class="add-to-cart-table2-font-form-achoo">Enter your destination to get a shipping estimate.</p>
                    <p class="add-to-cart-table2-font-form-achoo">Country <span style="color: red;">*</span></p>
                    <div class="form-group">
                      <select class="form-control add-to-cart-table2-font-form-achoo" id="country" required>
                        <option value="" disabled selected>Choose your country</option>
                        <option value="1">United States</option>
                        <option value="2">Germany</option>
                        <option value="3">France</option>
                        <option value="4">Poland</option>
                        <option value="5">Japan</option>
                      </select>
                    </div>
                    <p class="add-to-cart-table2-font-form-achoo">State/Province</p>
                    <div class="form-group">
                      <select class="form-control add-to-cart-table2-font-form-achoo" id="state">
                        <option value="" disabled selected>Please select region state or province</option>
                        <option value="1">Alabama</option>
                        <option value="2">Colorado</option>
                        <option value="3">Florida</option>
                        <option value="4">Hawaiʻi</option>
                        <option value="5">Indiana</option>
                      </select>
                    </div>
                    <p class="add-to-cart-table2-font-form-achoo">Zip/Postal Code</p>
                    <div class="form-group">
                      <input type="text" class="form-control" id="zipcode">
                    </div>
                    <div class="form-group">
                      <a href="javascript:void(0)" id="getquote"><img src="./img-achoo/get-a-quote-btn.png" alt=""></a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!--KET THUC BANG THONG TIN SHIP-->
        </div>
        <div class="col-5">
          <!--BANG CHECKOUT CART-->
          <div class="my-account-form-space-achoo">
          </div>
          <table class="table add-to-cart-table-border-achoo">
            <thead class="add-to-cart-table2-font-header-achoo">
              <tr>
                <th scope="col">Shopping Cart Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="add-to-cart-table-font-row-achoo add-to-cart-checkout-background-achoo">
                <td>
                  <div>
                    <div class="my-account-form-space-achoo">
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <p class="add-to-cart-checkout-font1-achoo">Subtotal</p>
                      </div>
                      <div class="col-lg-6">
                        <p class="add-to-cart-checkout-font1-achoo text-right">$<span id="subtotal">6.50</span></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <p class="add-to-cart-checkout-font2-achoo">Grand Total</p>
                      </div>
                      <div class="col-lg-6">
                        <p class="add-to-cart-checkout-font2-achoo text-right">$<span id="grandtotal">6.50</span></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <a href="javascript:void(0)" id="checkoutcart" onclick="location.href = 'checkout.html';"><img src="./img-achoo/proceed-to-checkout-btn.png" alt="" class="w-100"></a>
                      </div>
                    </div>
                    <div class="my-account-form-space-achoo">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!--KET THUC BANG CHECKOUT CART-->
        </div>
      </div>
      <!--KET THUC NOI DUNG CHINH-->
    </div>
    <div class="footer-content-achoo">
    </div>
  </main>
  <!--KET THUC MAIN-->
  <!--FOOTER-->
  <footer>
    <div class="container footer-title">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="row ">
                    <div class="col-xl-3">
                        <img src="img/truck.png" alt="">
                    </div>
                    <div class="col-xl-9">
                        <h2>FREE SHIPPING</h2>
                        <p>WORLDWIDE</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="row ">
                    <div class="col-xl-3">
                        <img src="img/headphone.png" alt="">
                    </div>
                    <div class="col-xl-9">
                        <h2>24X7</h2>
                        <p>CUSTOMER SUPPORT</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="row ">
                    <div class="col-xl-3">
                        <img src="img/return.png" alt="">
                    </div>
                    <div class="col-xl-9">
                        <h2>RETURNS</h2>
                        <p>AND EXCHANGE</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="row ">
                    <div class="col-xl-3">
                        <img src="img/phone.png" alt="">
                    </div>
                    <div class="col-xl-9">
                        <h2>HOTLINE</h2>
                        <p>+(888) 888-8888</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-content">
        <div class="row">
            <div class="col-xl-3 info">
                <img src="img/logo1.png" alt="">
                <div class="row" style="margin-top:45px; ">
                    <div class="col-xl-1">
                        <img src="img/location.png" alt="">
                    </div>
                    <div class="col-xl-10">
                        <p>Lorem ipsum is dummy text of the printing typesetting</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-1">
                        <img src="img/phone1.png" alt="">
                    </div>
                    <div class="col-xl-8">
                        <p>+(91) 123456789</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-1">
                        <img src="img/mail.png" alt="">
                    </div>
                    <div class="col-xl-8">
                        <p>inquiry@nognic.com</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 center-link">
                <h3>INFOMATION</h3>
                <ul>
                    <li><a href="404-page.html">Site Map</a></li>
                    <li><a href="404-page.html">Search Terms</a></li>
                    <li><a href="404-page.html">Advanced Search</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="404-page.html">Suppliers</a></li>
                </ul>
            </div>
            <div class="col-xl-3 center-link">
                <h3>STYLE ADVISOR</h3>
                <ul>
                    <li><a href="my-account.html">Your Account</a></li>
                    <li><a href="404-page.html">Infomation</a></li>
                    <li><a href="404-page.html">Addresses</a></li>
                    <li><a href="404-page.html">Discount</a></li>
                    <li><a href="404-page.html">Orders History</a></li>
                    <li><a href="404-page.html">Additional Infomation</a></li>
                </ul>
            </div>
            <div class="col-xl-2 center-link">
                <h3>QUICK LINKS</h3>
                <ul>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="FAQ.html">FAQs</a></li>
                    <li><a href="404-page.html">Payment</a></li>
                    <li><a href="404-page.html">Shipment</a></li>
                    <li><a href="404-page.html">Where is my order?</a></li>
                    <li><a href="404-page.html">Return policy</a></li>
                </ul>
            </div>
            <div class="col-xl-2 center-link">
                <h3>INSTAGRAM</h3>
                <div class="row">
                    <div class="col-xl-4">
                        <img src="img/square.png" alt="">
                        <img src="img/square.png" alt="">
                        <img src="img/square.png" alt="">
                    </div>
                    <div class="col-xl-6">
                        <img src="img/square.png" alt="">
                        <img src="img/square.png" alt="">
                        <img src="img/square.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="last-bar">
            <div class="row">
                <div class="col-xl-4 copyright">
                    <p>&#169 NOGNIC <span>2019 All rights Reserved</span></p>
                    <p>Website designed & Developed by <span>NCode Technologies, Inc.</span></p>
                </div>
                <div class="col-xl-4 social-end">
                    <a href="" class="social-end-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="social-end-link"><i class="fab fa-twitter"></i></a>
                    <a href="" class="social-end-link"><i class="fab fa-google-plus-g"></i></a>
                    <a href="" class="social-end-link"><i class="fab fa-pinterest-p"></i></a>
                    <a href="" class="social-end-link"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="col-xl-4 payment" align="right">
                    <a href=""><img src="img/PayPal.png" alt=""></a>
                    <a href=""><img src="img/VISA.png" alt=""></a>
                    <a href=""><img src="img/AMERICAN-EXPRESS.png" alt=""></a>
                    <a href=""><img src="img/MasterCard.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
  <!--KET THUC-->
  <script src="js/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/style.js"></script>
  <script src="js/jquery-achoo.js"></script>
  <script>
  $(document).ready(function() {
      $('.slider').slick({
          arrows: true,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1
      });
      $('.slide-arrival').slick({
          arrows: true,
          margin: '4px',
          infinite: false,
          slidesToShow: 4,
          slidesToScroll: 4,
          responsive: [{
                  breakpoint: 1024,
                  settings: {
                      slidesToShow: 4,
                      slidesToScroll: 4,
                      infinite: false
                  }
              },
              {
                  breakpoint: 800,
                  settings: {
                      slidesToShow: 2,
                      arrows: false,
                      slidesToScroll: 2
                  }
              },
              {
                  breakpoint: 480,
                  settings: {
                      slidesToShow: 1,
                      arrows: false,
                      slidesToScroll: 1
                  }
              }
          ]
      });
      $('.slide-brand').slick({
          arrows: true,
          infinite: true,
          slidesToShow: 5,
          slidesToScroll: 5,
          responsive: [{
                  breakpoint: 1200,
                  settings: {
                      slidesToShow: 5,
                      slidesToScroll: 5,
                      infinite: true
                  }
              },
              {
                  breakpoint: 1024,
                  settings: {
                      slidesToShow: 3,
                      arrows: false,
                      slidesToScroll: 3
                  }
              },
              {
                  breakpoint: 480,
                  settings: {
                      slidesToShow: 1,
                      arrows: false,
                      slidesToScroll: 1
                  }
              }
          ]
      });
  });
  </script>  
</body>

</html>