<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Checkout | Organic</title>
    <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-achoo.css">
</head>

<body>
  <!--HEADER-->
  <header>
            <div class="info-bar">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="" class="social"><i class="fab fa-twitter"></i></a>
                        <a href="" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="" class="social"><i class="fab fa-pinterest-p"></i></a>
                        <a href="" class="social"><i class="fab fa-youtube"></i></a>
                        <p class="info-head" style="display: inline">Phone: <span>(+91) 123456789</span></p>
                        <p class="info-head" style="display: inline">Email: <span>inquiry@nognic.com</span></p>
                    </div>
                    <div class="col-lg-6 combobox">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                <i class="far fa-user"></i> My Account
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo">
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="my-account.html">MY ACCOUNT</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="Wish-list.html">WISHLIST</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="checkout.html">CHECKOUT</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="blog.html">BLOG</a>
                                <div class="myaccount-line-achoo border-info"></div>
                                <a class="dropdown-item myaccount-bullet-achoo w-100" href="my-account.html">LOGIN</a>
                                <div class="myaccount-line-achoo border-info"></div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle unit" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                $ USD
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item unit-item" href="#">$ USD</a>
                                <a class="dropdown-item unit-item" href="#">đ VND</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle language" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
                                <img src="img/fr.png" alt=""> FRENCH
                            </a>
                            <div class="dropdown-menu myaccount-form-achoo" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item language-item" href="#"><img src="img/fr.png" alt=""> FRENCH</a>
                                <a class="dropdown-item language-item" href="#"><img src="img/vn.png" alt=""> VIETNAMESE</a>
                                <a class="dropdown-item language-item" href="#"><img src="img/uk.png" alt=""> ENGLISH</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 icon">
                        <a href=""><img src="img/circle-heart.png" alt=""></a>
                    </div>
                    <div class="col-md-4 col-sm-5 logo-box">
                        <a href="home.html"><img src="img/logo.png" class="logo" alt=""></a>
                    </div>
                    <div class="col-md-4 col-sm-4 icon">
                        <div class="dropdown cart-bg-achoo">
                        <a href="" data-toggle="dropdown" data-target="#"><img src="img/circle-bag.png" align="right" alt=""></a>
                        <div class="dropdown-menu cart-form-achoo">
                            <p class="cart-title-achoo">2 items in your cart</p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="./img-achoo/Strawberries.jpg" alt="" class="cart-img-achoo">
                                </div>
                                <div class="col-lg-6">
                                    <p class="cart-title-product-achoo">Strawberries, 16 oz</p>
                                    <p class="cart-title-price-achoo">1 x $2.50</p>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="nav-link text-secondary cart-delete-achoo">X</a>
                                </div>
                            </div>
                            <div class="my-account-form-space-achoo">
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="./img-achoo/Broccoli.jpg" alt="" class="cart-img-achoo">
                                </div>
                                <div class="col-lg-6">
                                    <p class="cart-title-product-achoo">Broccoli, bunch</p>
                                    <p class="cart-title-price-achoo">2 x $4.00</p>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="nav-link text-secondary cart-delete-achoo">X</a>
                                </div>
                            </div>  
                            <div class="my-account-form-space-achoo">
                            </div>
                            <div class="cart-line-achoo">
                            </div>                       
                            <div class="row">
                                <p class="cart-total-achoo">Total: $6.50</p>
                            </div>  
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="Add-to-cart.html" class="text-dark form-control btn-outline-secondary" id="viewcart">VIEW CART</a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="checkout.html" class="text-light form-control btn-success" id="CHECKOUT">CHECKOUT</a>
                                </div>
                            </div>                             
                        </div>
                    
                        <a href=""><img src="img/circle-search.png" align="right" alt=""></a>
                    </div>
                    </div>
             
                </div>
            </div>
            <nav class="navbar navbar-expand-xl navbar-dark container menu">
                <button class="navbar-toggler" id="btn-collapse" type="button" data-toggle="collapse" data-target="#navbarSupportedContentXL" aria-controls="navbarSupportedContentXL" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContentXL">
                    <ul class="navbar-nav">
                        <!--MEGAMENU-->
                        <li class="nav-item position-static parent"><img src="img/leaf.png" class="child leaf-achoo" alt=""><a href="#" data-toggle="dropdown" data-target="#">Home</a>
                        <!-- div.w-100 make it mega menu, div.top-auto opens the mega menu exactly as position like other normal menu -->
                        <div class="dropdown-menu background-megamenu-achoo w-100">
                            <div class="container">
                                <!-- div.w-100 is also needed in certain circumstances to make this menu a mega menu -->
                                <div class="row w-100">
                                    <!-- It's yours now. Add columns or change layout as per your wish -->
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Regular Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Banana</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Chikoo</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Tender Coconut</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pineapple</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Seasonal Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Mango</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Orange</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Strawberries</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Grapes</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Exotics Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Avocado</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Guava Thai</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Mangosteen</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Grapefruit</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Imported Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                </div>
                                <div class="row w-100">
                                    <!-- It's yours now. Add columns or change layout as per your wish -->
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Citrus Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Oranges</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Lemons</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Tangerines</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Lime</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Dry Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Dates</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apricots</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Figs</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Raisins</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Exotics Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                    <div class="text-center col-sm-3">
                                        <h4 class="title-megamenu-achoo">Imported Fruits</h4>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Kiwi Green</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Apple</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Pears</a>
                                        <a href="#" class="dropdown-item desc-megamenu-achoo">Passion Fruit</a>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        </li>
                        <!--KET THUC MEGAMENU-->
                        <li class="nav-item"><a href="product.html">Products</a></li>
                        <li class="nav-item"><a href="about.html">About Us</a></li>
                        <li class="nav-item"><a href="blog.html">Blog</a></li>
                        <li class="nav-item"><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
        </header>
  <!--KET THUC HEADER-->
  <!--MAIN-->
  <main>
    <div class="header-content-achoo">
    </div>
    <div class="container">
      <nav class="navbar navbar-expand-sm no-padding">
        <div class="navbar-content-achoo">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link navbar-font-achoo" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <span class="nav-link navbar-font-achoo">|</span>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light navbar-font-active-achoo" href="#">Checkout</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light navbar-font-title-achoo" href="#">Checkout</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--NOI DUNG CHINH-->
      <!--THEM KHOANG TRANG-->
      <div class="my-account-form-space-achoo">
      </div>
      <div class="my-account-form-space-achoo">
      </div>
      <div class="my-account-form-space-achoo">
      </div>
      <!--KET THUC-->
      <form>
      <div class="row checkout-table-padding-achoo">
        <div class="col-12">
          <p class="checkout-title-achoo">01 / Checkout Method</p>
          <p class="checkout-desc-achoo">If you have shopped with us before, please enter your details in the boxes. If
            you are a new customer. Please proceeed to the Billing & Shipping Section.</p>
        </div>
      </div>
      <div class="row checkout-form-padding-achoo">
        <div class="col-lg-6">
          <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="checkoutusername"
            placeholder="User name or Email" required>
        </div>
        <div class="col-lg-6">
          <input type="password" class="form-control bg-light checkout-input-font-achoo w-100" id="checkoutpassword"
            placeholder="Password" required>
        </div>
      </div>
      <div class="row checkout-form-padding-achoo">
        <div class="col-lg-2">
          <p></p>
          <button type="submit" class="btn btn-outline-success w-100" id="checkout-login">LOG IN</button>
          <a href="my-account.html" class="nav-link text-secondary"><p class="checkout-lost-password-font-achoo">Lost your password?</p></a>
        </div>
      </div>
      </form>
      <div class="row checkout-table-padding-achoo">
        <div class="col-12">
          <div class="my-account-form-space-achoo">
          </div>
          <img src="./img-achoo/divider-line1.png" alt="" class="w-100">
        </div>
      </div>
      <div class="my-account-form-space-achoo">
      </div>
    <form>
      <div class="row checkout-table-padding-achoo">
        <!--TABLE BILLING-->
        <div class="col-lg-6">
          <p class="checkout-title-achoo">02 / Billing & Shipping details</p>
          <div class="row">
            <div class="col-lg-6">
              <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="firstname"
                placeholder="First name">
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="lastname"
                placeholder="Last name">
            </div>
            <div class="col-lg-12">
              <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="company"
                placeholder="Company (optinal)">
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="address"
                placeholder="Address">
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="apt"
                placeholder="Apt, suite, etc. (optinal)">
            </div>
            <div class="col-lg-6">
              <select class="form-control bg-light checkout-input-font-achoo w-100" id="choncity">
                <option value="" disabled selected>City</option>
                <option value="1">United States</option>
                <option value="2">Germany</option>
                <option value="3">France</option>
                <option value="4">Poland</option>
                <option value="5">Japan</option>
              </select>
            </div>
            <div class="col-lg-6">
              <select class="form-control bg-light checkout-input-font-achoo w-100" id="chonstate">
                <option value="" disabled selected>State</option>
                <option value="1">Alabama</option>
                <option value="2">Colorado</option>
                <option value="3">Florida</option>
                <option value="4">Hawaiʻi</option>
                <option value="5">Indiana</option>
              </select>
            </div>
            <div class="col-lg-12">
              <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="postcode"
                placeholder="Postcode / ZIP">
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="phone"
                placeholder="Phone">
            </div>
            <div class="col-lg-6">
              <input type="email" class="form-control bg-light checkout-input-font-achoo w-100" id="email"
                placeholder="Email">
            </div>
            <div class="col-lg-12">
              <div class="form-check my-account-form-check-achoo">
                <input type="checkbox" class="form-check-input" id="saveinfo" checked>
                <label class="form-check-label" for="saveinfo">Save this information for next time</label>
              </div>
            </div>
            <div class="col-lg-12">
              <textarea class="form-control bg-light checkout-input-font-achoo w-100" id="" rows="10"
                placeholder="Order notes"></textarea>
            </div>
            <div class="col-lg-12">
              <div class="form-check my-account-form-check-achoo">
                <input type="checkbox" class="form-check-input" id="ship">
                <label class="form-check-label" for="ship">Ship to a different address?</label>
              </div>
            </div>
          </div>
        </div>
        <!--TABLE YOUR ORDER-->
        <div class="col-lg-6">
          <div class="my-account-form-space-achoo">
          </div>
          <div class="my-account-form-space-achoo">
          </div>
          <table class="table checkout-table-border-achoo">
            <thead class="checkout-table-header-achoo checkout-table-header-font-achoo">
              <tr>
                <th scope="col" class="checkout-table-order-col1-achoo">PRODUCT</th>
                <th scope="col" class="checkout-table-order-col2-achoo">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="checkout-table-product-font-achoo">Broccoli, bunch x 2</span></td>
                <td><span class="checkout-table-product-font-achoo"> $ 5.00 </span></td>
              </tr>
              <tr>
                <td><span class="checkout-table-product-font-achoo">Broccoli, bunch x 2</span></td>
                <td><span class="checkout-table-product-font-achoo"> $ 5.00 </span></td>
              </tr>
              <tr>
                <td><span class="checkout-table-product-font-achoo">Broccoli, bunch x 2</span></td>
                <td><span class="checkout-table-product-font-achoo"> $ 5.00 </span></td>
              </tr>
              <tr class="checkout-table-subtotal-achoo">
                <td><span class="checkout-table-header-font-achoo"> SUB TOTAL </span></td>
                <td><span class="checkout-table-header-font-achoo"> $ 3.00 </span></td>
              </tr>
              <tr class="checkout-table-shipping-achoo">
                <td><span class="checkout-table-header-font-achoo">SHIPPING</span> </td>
                <td><span class="checkout-table-header-font-achoo"> Flat rate: $ 2.00</span></td>
              </tr>
              <tr class="checkout-table-total-achoo">
                <td><span class="checkout-table-header-font-achoo">TOTAL</span> </td>
                <td><span class="checkout-table-header-font-achoo">$20.00</span> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row checkout-table-padding-achoo">
        <div class="col-12">
          <div class="my-account-form-space-achoo">
          </div>
          <img src="./img-achoo/divider-line1.png" alt="" class="w-100">
        </div>
      </div>
      <div class="my-account-form-space-achoo">
      </div>
      <div class="row checkout-table-padding-achoo">
        <div class="col-12">
          <p class="checkout-title-achoo">03 / Payment information</p>
          <p class="checkout-desc-achoo">Credit card (PayPal)
            <span><img src="./img-achoo/payment.png" alt=""></span>
          </p>
          <p class="checkout-desc-achoo">Pay with your credit card via PayPal Website payments Pro.</p>
        </div>
      </div>
      <div class="row checkout-table-padding-achoo">
        <div class="col-lg-4">
          <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="cardnumber"
            placeholder="Card Number" required>
        </div>
        <div class="col-lg-4">
          <input type="date" class="form-control bg-light checkout-input-font-achoo w-100" id="expiry"
            placeholder="Expiry (MM/YY)" required>
        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control bg-light checkout-input-font-achoo w-100" id="cardcode"
            placeholder="Card Code" required>
        </div>
      </div>
      <div class="row checkout-table-padding-achoo">
        <div class="col-lg-3">
          <div class="my-account-form-space-achoo">
          </div>
          <button type="submit" class="btn btn-success w-100" id="checkout-success">PLACE ORDER</button>
        </div>
      </div>
      </form>
      <!--KET THUC NOI DUNG CHINH-->
    </div>
    <div class="footer-content-achoo">
    </div>
  </main>
  <!--KET THUC MAIN-->
  <!--FOOTER-->
  <footer>
    <div class="container footer-title">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="row ">
                    <div class="col-xl-3">
                        <img src="img/truck.png" alt="">
                    </div>
                    <div class="col-xl-9">
                        <h2>FREE SHIPPING</h2>
                        <p>WORLDWIDE</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="row ">
                    <div class="col-xl-3">
                        <img src="img/headphone.png" alt="">
                    </div>
                    <div class="col-xl-9">
                        <h2>24X7</h2>
                        <p>CUSTOMER SUPPORT</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="row ">
                    <div class="col-xl-3">
                        <img src="img/return.png" alt="">
                    </div>
                    <div class="col-xl-9">
                        <h2>RETURNS</h2>
                        <p>AND EXCHANGE</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="row ">
                    <div class="col-xl-3">
                        <img src="img/phone.png" alt="">
                    </div>
                    <div class="col-xl-9">
                        <h2>HOTLINE</h2>
                        <p>+(888) 888-8888</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-content">
        <div class="row">
            <div class="col-xl-3 info">
                <img src="img/logo1.png" alt="">
                <div class="row" style="margin-top:45px; ">
                    <div class="col-xl-1">
                        <img src="img/location.png" alt="">
                    </div>
                    <div class="col-xl-10">
                        <p>Lorem ipsum is dummy text of the printing typesetting</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-1">
                        <img src="img/phone1.png" alt="">
                    </div>
                    <div class="col-xl-8">
                        <p>+(91) 123456789</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-1">
                        <img src="img/mail.png" alt="">
                    </div>
                    <div class="col-xl-8">
                        <p>inquiry@nognic.com</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 center-link">
                <h3>INFOMATION</h3>
                <ul>
                    <li><a href="404-page.html">Site Map</a></li>
                    <li><a href="404-page.html">Search Terms</a></li>
                    <li><a href="404-page.html">Advanced Search</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="404-page.html">Suppliers</a></li>
                </ul>
            </div>
            <div class="col-xl-3 center-link">
                <h3>STYLE ADVISOR</h3>
                <ul>
                    <li><a href="my-account.html">Your Account</a></li>
                    <li><a href="404-page.html">Infomation</a></li>
                    <li><a href="404-page.html">Addresses</a></li>
                    <li><a href="404-page.html">Discount</a></li>
                    <li><a href="404-page.html">Orders History</a></li>
                    <li><a href="404-page.html">Additional Infomation</a></li>
                </ul>
            </div>
            <div class="col-xl-2 center-link">
                <h3>QUICK LINKS</h3>
                <ul>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="FAQ.html">FAQs</a></li>
                    <li><a href="404-page.html">Payment</a></li>
                    <li><a href="404-page.html">Shipment</a></li>
                    <li><a href="404-page.html">Where is my order?</a></li>
                    <li><a href="404-page.html">Return policy</a></li>
                </ul>
            </div>
            <div class="col-xl-2 center-link">
                <h3>INSTAGRAM</h3>
                <div class="row">
                    <div class="col-xl-4">
                        <img src="img/square.png" alt="">
                        <img src="img/square.png" alt="">
                        <img src="img/square.png" alt="">
                    </div>
                    <div class="col-xl-6">
                        <img src="img/square.png" alt="">
                        <img src="img/square.png" alt="">
                        <img src="img/square.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="last-bar">
            <div class="row">
                <div class="col-xl-4 copyright">
                    <p>&#169 NOGNIC <span>2019 All rights Reserved</span></p>
                    <p>Website designed & Developed by <span>NCode Technologies, Inc.</span></p>
                </div>
                <div class="col-xl-4 social-end">
                    <a href="" class="social-end-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="social-end-link"><i class="fab fa-twitter"></i></a>
                    <a href="" class="social-end-link"><i class="fab fa-google-plus-g"></i></a>
                    <a href="" class="social-end-link"><i class="fab fa-pinterest-p"></i></a>
                    <a href="" class="social-end-link"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="col-xl-4 payment" align="right">
                    <a href=""><img src="img/PayPal.png" alt=""></a>
                    <a href=""><img src="img/VISA.png" alt=""></a>
                    <a href=""><img src="img/AMERICAN-EXPRESS.png" alt=""></a>
                    <a href=""><img src="img/MasterCard.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/style.js"></script>
<script src="js/jquery-achoo.js"></script>
<script>
$(document).ready(function() {
    $('.slider').slick({
        arrows: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1
    });
    $('.slide-arrival').slick({
        arrows: true,
        margin: '4px',
        infinite: false,
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    infinite: false
                }
            },
            {
                breakpoint: 800,
                settings: {
                    slidesToShow: 2,
                    arrows: false,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    arrows: false,
                    slidesToScroll: 1
                }
            }
        ]
    });
    $('.slide-brand').slick({
        arrows: true,
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5,
        responsive: [{
                breakpoint: 1200,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                    infinite: true
                }
            },
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    arrows: false,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    arrows: false,
                    slidesToScroll: 1
                }
            }
        ]
    });
});
</script>
  <!--KET THUC-->
</body>

</html>